.child,
.groupChild {
  position: absolute;
  top: 155px;
  left: calc(50% - 610px);
  width: 1238px;
  height: 416px;
}
.groupChild {
  top: 0;
  left: calc(50% - 87.2px);
  border-radius: var(--br-xl) 0 0 var(--br-xl);
  background-color: var(--color-coral-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 86.2px;
  height: 45.7px;
}
.div1 {
  position: absolute;
  top: 9px;
  left: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43.1px;
  height: 28.4px;
}
.groupItem {
  position: absolute;
  top: 0;
  left: calc(50% + 1px);
  width: 86.2px;
  height: 45.7px;
}
.div2 {
  position: absolute;
  top: 9px;
  left: 99.7px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64.2px;
  height: 28px;
}
.rectangleParent {
  top: 0;
  left: calc(50% - 87.2px);
  width: 174.4px;
}
.groupInner,
.inner,
.rectangleParent {
  position: absolute;
  height: 45.7px;
}
.inner {
  top: 167px;
  left: calc(50% - 579.1px);
  width: 174.4px;
  font-size: var(--font-size-xl);
}
.groupInner {
  top: 0;
  left: calc(50% - 87.2px);
  border-radius: var(--br-xl) 0 0 var(--br-xl);
  background-color: var(--color-gray-400);
  width: 86.2px;
}
.groupDiv,
.rectangleIcon {
  position: absolute;
  top: 0;
  left: calc(50% - 3px);
  width: 94.2px;
  height: 53.7px;
}
.groupDiv {
  top: 167px;
  left: calc(50% + 426.8px);
  width: 174.4px;
  height: 45.7px;
  font-size: var(--font-size-xl);
}
.rectangleDiv {
  position: absolute;
  top: 0;
  left: calc(50% - 84.9px);
  background-color: var(--color-coral-100);
  width: 169.8px;
  height: 75px;
}
.div5 {
  position: absolute;
  top: calc(50% - 15.8px);
  left: calc(50% - 58.2px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 116.3px;
  height: 32.6px;
}
.rectangleContainer {
  position: absolute;
  top: 488px;
  left: calc(50% - 162.8px);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 169.8px;
  height: 75px;
}
.volumeNoticeIcon,
.volumeNoticeIcon1 {
  position: absolute;
  top: 506px;
  left: 137px;
  width: 44px;
  height: 42px;
  overflow: hidden;
}
.volumeNoticeIcon1 {
  left: 760px;
}
.item {
  top: 760px;
  left: 109px;
  background-color: var(--color-gray-200);
  border-top: 1px solid var(--color-gray-400);
  border-left: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 1235px;
  height: 112px;
}
.child1,
.div6,
.item {
  position: absolute;
}
.child1 {
  top: 229px;
  left: 727px;
  background-color: var(--color-gray-200);
  border-top: 1px solid var(--color-gray-400);
  border-bottom: 1px solid var(--color-gray-400);
  border-left: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 617px;
  height: 260px;
}
.div6 {
  top: 449px;
  left: 622px;
  font-weight: 500;
  color: var(--color-dimgray);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92px;
  height: 26px;
}
.avatarIcon {
  position: absolute;
  height: 6.93%;
  width: 4.93%;
  top: 3.91%;
  right: 10.49%;
  bottom: 89.16%;
  left: 84.58%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.groupChild1,
.groupChild2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--color-coral-100);
  border: 2px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 25.4px;
  height: 33.2px;
}
.groupChild2 {
  top: 6.8px;
  left: 4.6px;
}
.rectangleParent1 {
  position: absolute;
  top: 506px;
  left: 192px;
  width: 30px;
  height: 40px;
}
.child2,
.mz {
  position: absolute;
}
.mz {
  top: 54px;
  left: 71px;
  font-size: var(--font-size-21xl);
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 187px;
  height: 44px;
}
.child2 {
  top: 35px;
  left: 292px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-500);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.7) inset;
  width: 218px;
  height: 82px;
}
.mz1 {
  top: 63px;
  left: 333px;
  font-weight: 800;
  color: var(--color-coral-100);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 26px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
}
.child3,
.mz1,
.mz2 {
  position: absolute;
}
.mz2 {
  top: 63px;
  left: 566px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99px;
  height: 26px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.child3 {
  top: 229px;
  left: 113px;
  background-color: var(--color-gray-200);
  border-top: 1px solid var(--color-gray-400);
  border-bottom: 1px solid var(--color-gray-400);
  border-left: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 615px;
  height: 260px;
}
.div7,
.div8 {
  position: absolute;
  top: 248px;
  left: 110px;
  font-size: var(--font-size-21xl);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 265px;
  height: 52px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.div8 {
  left: 671px;
}
.groupChild3,
.inner1 {
  position: absolute;
  width: 1238px;
  height: 360px;
}
.groupChild3 {
  top: 0;
  left: calc(50% - 619px);
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.inner1 {
  top: 606px;
  left: calc(50% - 610px);
}
.div9,
.mz3 {
  position: absolute;
  top: 63px;
  left: 763px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 142px;
  height: 26px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
}
.div9 {
  left: 1003px;
  width: 99px;
}
.groupChild4,
.groupChild5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  border: 2px solid var(--color-coral-100);
  box-sizing: border-box;
  width: 25.4px;
  height: 33.2px;
}
.groupChild5 {
  top: 6.8px;
  left: 4.6px;
  background-color: var(--color-gray-200);
}
.rectangleParent2 {
  position: absolute;
  top: 506px;
  left: 815px;
  width: 30px;
  height: 40px;
}
.child4,
.groupIcon {
  position: absolute;
  top: 897px;
  left: calc(50% + 420px);
  width: 94.2px;
  height: 53.7px;
}
.child4 {
  left: calc(50% + 512.2px);
  width: 86.2px;
  height: 45.7px;
}
.div {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-400);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}