.text {
  position: absolute;
  height: 2.15%;
  width: 7.36%;
  top: 86.72%;
  left: 80.9%;
  text-align: left;
  display: inline-block;
}
.avatarIcon {
  height: 86.59%;
  width: 5.83%;
  top: 6.1%;
  right: 0;
  bottom: 7.32%;
  left: 94.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.avatarIcon,
.groupChild,
.mz {
  position: absolute;
}
.mz {
  height: 53.66%;
  width: 15.35%;
  top: 23.17%;
  left: 0;
  font-size: var(--font-size-21xl);
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.groupChild {
  height: 100%;
  width: 17.9%;
  top: 0;
  right: 46.72%;
  bottom: 0;
  left: 35.39%;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-500);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.7) inset;
}
.mz1 {
  width: 11.08%;
  left: 21.51%;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.div1,
.mz1,
.mz2,
.mz3 {
  position: absolute;
  height: 31.71%;
  top: 34.15%;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mz2 {
  width: 8.13%;
  left: 40.64%;
  color: var(--color-coral-100);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.div1,
.mz3 {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
}
.mz3 {
  width: 11.66%;
  left: 56.81%;
  cursor: pointer;
}
.div1 {
  width: 8.13%;
  left: 76.52%;
}
.avatarParent {
  position: absolute;
  height: 8.01%;
  width: 84.58%;
  top: 3.42%;
  right: 7.71%;
  bottom: 88.57%;
  left: 7.71%;
  font-size: var(--font-size-5xl);
}
.groupItem {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 10px solid var(--color-coral-100);
  box-sizing: border-box;
}
.groupInner,
.rectangleDiv {
  position: absolute;
  height: 78.12%;
  width: 10.83%;
  top: 43.9%;
  right: 89.17%;
  bottom: -22.02%;
  left: 0;
  background-color: var(--color-coral-100);
  transform: rotate(-45.78deg);
  transform-origin: 0 0;
}
.rectangleDiv {
  height: 123.47%;
  top: 0;
  right: -3.25%;
  bottom: -23.47%;
  left: 92.42%;
  transform: rotate(45.78deg);
}
.ellipseParent,
.rectangleParent {
  position: absolute;
  height: 40.7%;
  width: 55.4%;
  top: 30.75%;
  right: 21.5%;
  bottom: 31.55%;
  left: 23.1%;
}
.ellipseParent {
  height: 50.51%;
  width: 28.17%;
  top: 0;
  right: 35.92%;
  bottom: 49.49%;
  left: 35.92%;
}
.span {
  font-weight: 800;
}
.span1 {
  font-weight: 500;
}
.txt {
  line-break: anywhere;
  width: 100%;
}
.div2,
.div3 {
  position: absolute;
  height: 18.43%;
  width: 100%;
  top: 63.13%;
  left: 0;
  display: flex;
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
}
.div3 {
  width: 89.3%;
  top: 81.57%;
  left: 5.35%;
  font-size: var(--font-size-6xl);
  text-decoration: underline;
  justify-content: center;
}
.groupParent {
  position: absolute;
  height: 38.67%;
  width: 49.31%;
  top: 35.84%;
  right: 23.33%;
  bottom: 25.49%;
  left: 27.36%;
  font-size: var(--font-size-29xl);
}
.groupChild1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-coral-100);
}
.div4 {
  position: absolute;
  height: 52.45%;
  width: 75.87%;
  top: 23.84%;
  left: 12.05%;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangleGroup {
  position: absolute;
  height: 7.37%;
  width: 19.72%;
  top: 83.79%;
  right: 9.66%;
  bottom: 8.84%;
  left: 70.63%;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: var(--font-size-13xl);
}
.div {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-400);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}