.photoIcon {
  width: 4.93%;
  height: auto;
  top: 3.91%;
  right: 9.65%;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}

@media (max-width: 768px) {
  .photoIcon {
    width: 10%;
    top: 5%;
    right: 5%;
  }
}

.curPage,
.mz,
.photoIcon {
  position: relative;
}

.mz {
  top: 3.39%; /* 변경된 위치 */
  left: 6.14%; /* 변경된 위치 */
  font-size: 2.03vw; /* vw 단위 사용 */
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.77%; /* vw 단위 사용 */
  height: 1.34vw; /* vw 단위 사용 */
}

.curPage {
  top: 2.73%; /* 변경된 위치 */
  left: 12.46%; /* 변경된 위치 */
  border-radius: 0.17vw; /* vw 단위 사용 */
  background-color: var(--color-gray-500);
  box-shadow: 0 0.27vw 0.27vw rgba(0, 0, 0, 0.7) inset;
  width: 6.1%; /* vw 단위 사용 */
  height: 2.3%; /* 변경된 높이 */
}

.mz1 {
  left: 7.32%; /* 변경된 위치 */
  color: var(--color-coral-100);
  width: 4.38%; /* 변경된 너비 */
  text-shadow: 0 0.73vw 0.73vw rgba(0, 0, 0, 0.6); /* vw 단위 사용 */
}

.div1,
.mz1,
.mz2,
.mz3 {
  position: relative;
  top: 6.15%; /* 변경된 위치 */
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.73vw; /* vw 단위 사용 */
}

.mz2 {
  left: 13.38%; /* 변경된 위치 */
  width: 2.42%; /* 변경된 너비 */
  text-shadow: 0 0.73vw 0.73vw rgba(0, 0, 0, 0.25); /* vw 단위 사용 */
  cursor: pointer;
}

.div1,
.mz3 {
  text-shadow: 0 0.73vw 0.73vw rgba(0, 0, 0, 0.6); /* vw 단위 사용 */
}

.mz3 {
  left: 21.81%; /* 변경된 위치 */
  width: 4.01%; /* 변경된 너비 */
  cursor: pointer;
}

.div1 {
  left: 35.26%; /* 변경된 위치 */
  width: 2.42%; /* 변경된 너비 */
}
/* 나머지 스타일 규칙은 마찬가지로 상대적인 위치를 사용합니다. */
