.child,
.mz {
  position: absolute;
}
.child {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs) 0 0 var(--br-3xs);
  background-color: var(--color-gray-200);
  width: 280px;
  height: 1024px;
}
.mz {
  top: 91px;
  left: 20px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 185px;
  height: 27px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
}
.groupChild {
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-300);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
}
.groupChild,
.rectangleWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 225px;
  height: 60px;
}
.mz1,
.qA {
  position: absolute;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}
.qA {
  top: 157px;
  left: 19px;
  width: 185px;
  height: 21px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.mz1 {
  top: 17px;
  left: 45px;
  color: var(--color-coral-100);
  width: 135px;
  height: 26px;
}
.avatarIcon,
.mzParent {
  position: absolute;
  top: 181px;
  left: 28px;
  width: 225px;
  height: 178px;
}
.avatarIcon {
  height: 6.93%;
  width: 4.93%;
  top: 4.79%;
  right: 7.78%;
  bottom: 88.28%;
  left: 87.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.div1,
.div2 {
  position: absolute;
  top: 188px;
  left: 598px;
  font-size: var(--font-size-13xl);
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 506px;
  height: 27px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
}
.div2 {
  top: 229px;
  font-size: var(--font-size-xl);
  font-weight: 500;
}
.groupItem {
  position: absolute;
  top: 0;
  left: 392px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-500);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.7) inset;
  width: 218px;
  height: 82px;
}
.mz2 {
  left: 0;
  width: 135px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.div3,
.mz2,
.mz3,
.mz4 {
  position: absolute;
  top: 0;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
}
.mz3 {
  left: 233px;
  width: 99px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.div3,
.mz4 {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
}
.mz4 {
  left: 430px;
  color: var(--color-coral-100);
  width: 142px;
  cursor: pointer;
}
.div3 {
  left: 670px;
  width: 99px;
}
.mzGroup,
.rectangleParent {
  position: absolute;
  top: 28px;
  left: 0;
  width: 769px;
  height: 26px;
}
.rectangleParent {
  top: 44px;
  left: 393px;
  height: 82px;
}
.groupInner,
.inner,
.item {
  position: absolute;
  width: 1067px;
  height: 545px;
}
.groupInner {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-300);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
}
.inner,
.item {
  top: 420px;
  left: 317px;
}
.item {
  left: 1407px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 9px;
  height: 264px;
  opacity: 0.5;
}
.child2,
.rectangleDiv {
  position: absolute;
  left: calc(50% - 403px);
  background-color: var(--color-gray-800);
  border-top: 4px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 1067px;
  height: 83px;
}
.rectangleDiv {
  top: 318px;
  border-bottom: 4px solid var(--color-gray-200);
}
.child2 {
  top: 846px;
}
.div4,
.textarea,
.textarea1 {
  font-weight: 500;
  position: absolute;
}
.div4 {
  top: 346.5px;
  left: 328px;
  font-size: var(--font-size-13xl);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 112px;
  height: 24.4px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
}
.textarea,
.textarea1 {
  border: 0;
  background-color: transparent;
  font-family: var(--font-inter);
  font-size: var(--font-size-21xl);
  top: 451px;
  left: 352px;
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 1032px;
  height: 366px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.textarea1 {
  top: 334px;
  left: 449px;
  width: 863px;
  height: 52px;
}
.p {
  margin: 0;
}
.txt {
  line-break: anywhere;
  width: 100%;
}
.div5,
.mz5 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div5 {
  top: 864px;
  left: 375px;
  font-weight: 500;
  color: var(--color-gray-900);
  width: 951px;
  height: 83px;
}
.mz5 {
  top: 43px;
  left: 20px;
  font-size: var(--font-size-17xl);
  font-weight: 800;
  justify-content: center;
  width: 241px;
  height: 103px;
}
.fileAdditionIcon {
  position: absolute;
  top: 342px;
  left: 1341px;
  width: 36px;
  height: 36px;
  overflow: hidden;
}
.groupChild1 {
  position: absolute;
  top: 0;
  left: calc(50% - 104px);
  border-radius: var(--br-31xl);
  background-color: var(--color-coral-100);
  width: 208px;
  height: 50.5px;
}
.div6 {
  position: absolute;
  top: 12px;
  left: 25.1px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 157.8px;
  height: 26.5px;
}
.rectangleGroup {
  position: absolute;
  top: 246px;
  left: calc(50% + 452px);
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  width: 208px;
  height: 50.5px;
  cursor: pointer;
  font-size: var(--font-size-7xl);
}
.div {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-400);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
