.qaChild {
  position: absolute;
  height: 100%;
  width: 19.44%;
  top: 0;
  right: 80.56%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs) 0 0 var(--br-3xs);
  background-color: var(--color-gray-200);
}
.mz,
.mz1 {
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mz {
  position: absolute;
  height: 12.81%;
  width: 60%;
  top: 0;
  left: 20%;
  cursor: pointer;
}
.mz1 {
  height: 13.3%;
  width: 82.22%;
  top: 36.45%;
  left: 8.89%;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
}
.groupChild,
.mz1,
.qA {
  position: absolute;
}
.groupChild {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-300);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
}
.qA {
  height: 35%;
  width: 82.22%;
  top: 33.33%;
  left: 10.67%;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
}
.groupParent,
.groupWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.groupWrapper {
  height: 29.56%;
  top: 70.44%;
  color: var(--color-coral-100);
}
.mzParent {
  position: absolute;
  height: 19.82%;
  width: 15.63%;
  top: 19.34%;
  right: 82.43%;
  bottom: 60.84%;
  left: 1.94%;
  font-size: var(--font-size-5xl);
}
.avatarIcon {
  position: absolute;
  height: 6.93%;
  width: 4.93%;
  top: 4.79%;
  right: 7.78%;
  bottom: 88.28%;
  left: 87.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.top10 {
  position: absolute;
  height: 2.83%;
  width: 35.14%;
  top: 19.34%;
  left: 24.1%;
  font-weight: 800;
  text-align: left;
  display: flex;
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
}
.groupItem {
  position: absolute;
  height: 100%;
  width: 28.35%;
  top: 0;
  right: 20.68%;
  bottom: 0;
  left: 50.98%;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-500);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.7) inset;
}
.mz2 {
  width: 17.56%;
  left: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.div,
.mz2,
.mz3,
.mz4 {
  position: absolute;
  height: 100%;
  top: 0;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mz3 {
  width: 12.87%;
  left: 30.3%;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.div,
.mz4 {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
}
.mz4 {
  width: 18.47%;
  left: 55.92%;
  color: var(--color-coral-100);
  cursor: pointer;
}
.div {
  width: 12.87%;
  left: 87.13%;
}
.mzGroup,
.rectangleParent {
  position: absolute;
  height: 31.71%;
  width: 100%;
  top: 34.15%;
  right: 0;
  bottom: 34.15%;
  left: 0;
}
.rectangleParent {
  height: 8.01%;
  width: 53.4%;
  top: 4.3%;
  right: 19.31%;
  bottom: 87.7%;
  left: 27.29%;
  font-size: var(--font-size-5xl);
}
.mz5 {
  position: absolute;
  height: 10.06%;
  width: 16.74%;
  top: 4.2%;
  left: 1.32%;
  font-size: var(--font-size-17xl);
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}
.groupInner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-coral-100);
}
.div1 {
  position: absolute;
  height: 52.35%;
  width: 75.87%;
  top: 23.76%;
  left: 12.05%;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangleGroup {
  position: absolute;
  height: 7.89%;
  width: 19.72%;
  top: 85.25%;
  right: 2.99%;
  bottom: 6.86%;
  left: 77.29%;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1067px;
  height: 130px;
}
.mz6,
.top {
  position: absolute;
  height: 22.23%;
  width: 47.42%;
  top: 39.92%;
  left: 14.34%;
  font-weight: 800;
  display: flex;
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
}
.top {
  height: 58.16%;
  width: 76%;
  top: 21.77%;
  left: 12%;
  font-weight: 600;
  justify-content: center;
}
.groupChild1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro-100);
  border: 3px solid var(--color-coral-100);
  box-sizing: border-box;
}
.topParent {
  position: absolute;
  height: 45.23%;
  width: 9.37%;
  top: 28.46%;
  right: 87.54%;
  bottom: 26.31%;
  left: 3.09%;
  text-align: center;
  font-size: var(--font-size-9xl);
  color: var(--color-coral-100);
}
.rectangleContainer {
  position: relative;
  width: 1067px;
  height: 130px;
  cursor: pointer;
  z-index: 0;
}
.groupDiv,
.rectangleParent1,
.rectangleParent2 {
  position: relative;
  width: 1067px;
  height: 130px;
  z-index: 1;
}
.rectangleParent1,
.rectangleParent2 {
  z-index: 2;
}
.rectangleParent2 {
  z-index: 3;
}
.mz10,
.top4 {
  position: absolute;
  height: 22.23%;
  width: 49.11%;
  top: 39.92%;
  left: 14.85%;
  font-weight: 800;
  display: flex;
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
}
.top4 {
  height: 58.16%;
  width: 75.97%;
  top: 21.77%;
  left: 11.97%;
  font-weight: 600;
  justify-content: center;
}
.topParent2 {
  position: absolute;
  height: 45.23%;
  width: 9.71%;
  top: 28.46%;
  right: 87.09%;
  bottom: 26.31%;
  left: 3.21%;
  text-align: center;
  font-size: var(--font-size-9xl);
  color: var(--color-coral-100);
}
.rectangleParent3,
.rectangleParent4 {
  position: absolute;
  margin: 0 !important;
  top: 612px;
  left: 0;
  width: 1067px;
  height: 130px;
  z-index: 4;
}
.rectangleParent4 {
  top: 765px;
  z-index: 5;
}
.rectangleParent5,
.rectangleParent6,
.rectangleParent7,
.rectangleParent8 {
  position: absolute;
  margin: 0 !important;
  top: 918px;
  left: 0;
  width: 1067px;
  height: 130px;
  z-index: 6;
}
.rectangleParent6,
.rectangleParent7,
.rectangleParent8 {
  top: 1071px;
  z-index: 7;
}
.rectangleParent7,
.rectangleParent8 {
  top: 1224px;
  z-index: 8;
}
.rectangleParent8 {
  top: 1377px;
  z-index: 9;
}
.groupContainer {
  position: absolute;
  height: 57.52%;
  width: 76.74%;
  top: 26.46%;
  right: 1.32%;
  bottom: 16.02%;
  left: 21.94%;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 23px;
  text-align: left;
}
.qa {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-400);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
