@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;800&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-inherit: inherit;
  --font-istok-web: "Istok Web";

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-29xl: 48px;
  --font-size-21xl: 40px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-3xl: 22px;
  --font-size-11xl: 30px;
  --font-size-6xl: 25px;
  --font-size-16xl: 35px;
  --font-size-smi: 13px;
  --font-size-13xl: 32px;
  --font-size-17xl: 36px;
  --font-size-7xl: 26px;
  --font-size-9xl: 28px;

  /* Colors */
  --color-gray-100: #fffeff;
  --color-gray-200: #242632;
  --color-gray-300: #1a1c26;
  --color-gray-400: #131517;
  --color-gray-500: #0c0e0f;
  --color-gray-1400: #080910;
  --color-gray-700: rgba(19, 21, 23, 0.7);
  --color-gray-1600: rgba(19, 21, 23, 0.5);
  --color-gray-900: rgba(255, 255, 255, 0.6);
  --color-gray-1000: rgba(36, 38, 50, 0.6);
  --color-gray-1100: rgba(19, 21, 23, 0.25);
  --color-gray-1200: rgba(255, 255, 255, 0.3);
  --color-gray-1300: rgba(255, 255, 255, 0.85);
  --color-gray-1500: rgba(0, 0, 0, 0.9);
  --color-gray-800: rgba(36, 38, 50, 0);
  --color-gray-600: rgba(255, 255, 255, 0.35);
  --color-white: #fff;
  --color-coral-100: #ff7a30;
  --color-coral-200: rgba(255, 122, 48, 0.8);
  --color-coral-300: rgba(255, 122, 48, 0.7);
  --color-coral-400: rgba(255, 122, 48, 0.5);
  --color-dimgray-100: #595a5b;
  --color-dimgray: rgba(97, 100, 115, 0.82);
  --color-tomato: #ff5530;
  --color-gainsboro-200: #d9d9d9;
  --color-gainsboro-100: rgba(217, 217, 217, 0);
  --color-blueviolet: #9747ff;
  --color-black: #000;
  --color-gold: #f9e000;

  /* Paddings */
  --padding-13xl: 32px;
  --padding-12xs: 1px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-10xs: 3px;
  --br-xl: 20px;
  --br-11xs: 2px;
  --br-31xl: 50px;
  --br-11xl: 30px;
  --br-8xs: 5px;
}
